<!DOCTYPE html>
<html>
<head>
<audio src = "song.mp3" id="Audio"></audio>
</head>
<body>
    <table border="1" align="center" width="500" colspan="2">
        <tr>
            <td>Fries</td><td align="center"><img src="FRIES.jpg" width="100" align="center"></td>
        </tr>
        <tr>
            <td>Kitkat</td><td align="center"><img src="KITKAT.jpg" width="100" align="center"></td>
        </tr>
        <tr>
            <td>Song</td><td><button onClick = "MyAudio()">Play Song</button></td>
        </tr>
        </table>
<script>
function MyAudio(){
     document.getElementById("Audio").play();
}
</script>